<!-- Developed by Peace Oloruntoba aka Prof Prince Peace
you can contact me on whatsapp and phone call @+2348166846226
email @ profprincepeace@gmail.com or peascainc@gmail.com
social media @ Peace Oloruntoba or PeaceOloruntoba including LinkedIn, Facebook, Twitter, etc.

copyright 2022.-->

{% extends 'dashboard/base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block content %}
{% extends 'base.html' %}
  <div class="container">
    <h1>Calculator</h1>
    <form method="POST" action="{% url 'calculator' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Calculate</button>
      </div>
    </form>
    {% if result %}
      <div class="result">
        <h3>Result: {{ result }}</h3>
      </div>
    {% endif %}
  </div>
{% endblock %}


{% endblock content %}
