<!-- Developed by Peace Oloruntoba aka Prof Prince Peace
you can contact me on whatsapp and phone call @+2348166846226
email @ profprincepeace@gmail.com or peascainc@gmail.com
social media @ Peace Oloruntoba or PeaceOloruntoba including LinkedIn, Facebook, Twitter, etc.

copyright 2022.-->

{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}

<div class="border-top pt-3 text-center">
  <h2>You are logged Out</h2>

  <small class="text-muted"
    ><a class="btn btn-danger" href="{% url 'login' %}">Log In Again</a>
  </small>
</div>

{% endblock content %}